img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}​

h1 {
    font-size: 30px;
  }
  
h2 {
    font-size: 30px;
  }

  h3 {
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
  }

p {
    font-family: "Papyrus", Times, serif;
    font-size: 24px;
  }

  body {
    background-color: gold;
  }
  
  .zoom {
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }